#choropleth_map {
	align-items:center;
}

#line_chart {
	align-items: right;
	width: 400px;
}

#stacked_area{
    align-items: left;
    width: 400px;
}

h2 {
    margin-top: 0px;
}

h1{
	font-size: 20;
    margin-top: 0px;
}

.description-right {
    padding-top: 50px;
    padding-left: 200px;
    padding-right:0px;
}

.description-left {
    padding-right: 20px;
}

.page {
    width: 850px;
    background-color: white;
}

.pure-u-1-1{
    width: auto;
    align-items: center;
}

.vis-container {
    width: 100%;
}